{% extends 'base/logado.html' %}

{% block conteudo %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Alterar senha
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Main content -->
      <div class="box">
        <div class="box-body">
          <p>
            Senha alterada com sucesso
            <a class="botao" href="{% url 'perfil' %}"> Voltar </a>
          </p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}