{% load i18n %}

Olá,

Você está recebendo esse email porque você (ou alguém se passando por você) requisitou que a sua senha do cEJ seja redefinida. Se você não deseja que isso aconteça, apenas ignore essa mensagem.

Para redefinir sua senha, por favor aperte no link a seguir, ou copie e cole no seu navegador:

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

Seu usuário, caso tenho esquecido: {{ user }}

Att.
Administração cEJ


{# This is used by django.contrib.auth #}
