{% extends "registration/registration_form_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block titulo %} Redefinir senha {% endblock %}

{% block alerta %}
            {% for alerta in alerta_login %}
            <div class="mensagem azul4 text-white">
              {{ alerta }}
            </div>
            {% endfor %}
{% endblock %}

{% block content %}
            <div class="field-wrap">
              <label>
                Nova Senha<span class="req">*</span>
              </label>
              {{ form.new_password1|attr:"type:password"|attr:"required:True"|attr:"minLength:8"|attr:"maxLength:50" }}
              <div class="text-white-margin25">{{ form.errors.new_password1 }}</div>
            </div>
            <div class="field-wrap">
              <label>
                Confirmação da nova senha<span class="req">*</span>
              </label>
              {{ form.new_password2|attr:"type:password"|attr:"required:True"|attr:"minLength:8"|attr:"maxLength:50" }}
              <br>
              <div class="text-white-margin25">{{ form.errors.new_password2 }}</div>
            </div>
{% endblock %}

{% block submit %}ENVIAR{% endblock %}
